{% load static %}  <!-- Load static file handling template tags -->

<header>
<nav class="navbar navbar-expand-lg bg-light"> 
    <div class="container-fluid">  

        <!-- Logo -->
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/logo.webp' %}" alt="Piece-of-Cake" class="logo"> 
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>  
        </button>

        <!-- Navigation links and dropdown menu -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Home link -->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"  href="{% url 'blog' %}">Home</a>
                </li>
                <!-- Recipes link -->
                <li class="nav-item">
                    <a class="nav-link active" href="#">Recipes</a>
                </li>
                <!-- New Recipes link -->
                <li class="nav-item">
                    <a class="nav-link active" href="#">New Recipes</a>
                </li>
                <!-- Dropdown menu for Cakes -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Cakes
                    </a>
                    <ul class="dropdown-menu">
                        <!-- Dropdown items -->
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                 <!-- Search form -->
            <form class="d-flex search-bar" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">  <!-- Search input field -->
                <button type="button" class="btn btn-warning" type="submit">Search</button>  <!-- Search button -->
            </form>
        </div>
    </div>
</nav>
            </header>